RewriteEngine On

RewriteRule ^Login?$ login.php
RewriteRule ^Logout?$ logout.php
RewriteRule ^Signup?$ signup.php
RewriteRule ^Homepage?$ homepage.php
RewriteRule ^Help?$ help.php
RewriteRule ^Host?$ why-host.php
RewriteRule ^Search?$ search-results.php
RewriteRule ^Dashboard?$ listing.php
RewriteRule ^Session?$ session.php

RewriteRule ^AdminDashboard?$ admin-dashboard.php
RewriteRule ^AdminAccounts?$ admin-accounts.php
RewriteRule ^AdminListings?$ admin-listings.php
RewriteRule ^AdminListings/([0-9a-zA-Z]+)?$ admin-listings.php?objID=$1

RewriteRule ^Listings-Reservations?$ listing-reservation.php
RewriteRule ^Listings?$ listing.php
RewriteRule ^Listings/([0-9a-zA-Z]+)?$ room-page.php?objID=$1
RewriteRule ^AddListings?$ addlisting.php




RewriteRule ^Booking?$ bookroom.php

RewriteRule ^Stays?$ stays.php
RewriteRule ^Stays-Past?$ stays-past.php

RewriteRule ^Profile?$ profile.php

RewriteRule ^Account?$ account.php


